:root{
  --black: rgba(33, 33, 33,1);
  --blue: rgba(33, 150, 243,1);
  --white:rgba(255, 255, 255, 1);
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
body {
  color: rgba(33, 33, 33, 1);
}
.m-link {
  color: var(--black);
}
.m-link:hover {
  color: rgba(33, 150, 243, 1);
}
}
.m-link:focus {
  color: var(--blue);
}
.m-link {
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
}
.link {
  color: var(--black);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.link:hover {
  color: var(--blue);
}
.contact {
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.contact:hover {
  color: var(--blue);
}
.contact:focus {
  color: var(--blue);
}

.site-nav .btn {
  color: rgba(33, 33, 33, 1);
}
.site-nav .btn:hover {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}
.site-nav .btn {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
.titles{
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
}
.sub-title{
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
.page-section .btn{
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.page-section .sctn{
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.new-section .n-section{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.n-section .rome{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.rome .proud{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.most .from{
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.most .person{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.most .job{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color:rgba(117, 117, 117, 1)
}


